.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #333; /* A background-color is required */
  z-index: 2;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 3;
//   will-change: transform;
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.mid-col:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.mid-col-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 4;
}

#viewer-box{
    display: flex;
    width: 100%;
    position: relative;
    color: #ccc;
    .viewer-box-l{
        width: 250px;
        height: auto;
        flex-grow: 0;
        min-width: 8em;
        // max-width: 23em;
        .viewer-box-wrap{
            margin: 20px;
        }
        .viewer-title{
            line-height: 32px;
            &:before{
                content: "";
                width: 6px;
                height: 6px;
                border: 1px solid #999;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: #aaa;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .viewer-div{
            border-bottom: 1px dotted #666;
            padding-bottom: 13px;
            line-height: 20px;
            &:last-child{
                border-bottom: none;
            }
            .switch-friends-link{
                line-height: 20px;
            }
        }
    }
}